<?xml version="1.0" encoding="utf-8"?>
<Media Key="fcd082a0-e571-4472-a397-17f3b6e431be" Alias="Giftcard'" Level="2">
  <Info>
    <Parent Key="6d5bf746-cb82-45c5-bd15-dd3798209b87">Products</Parent>
    <Path>/Products/Giftcard</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-01T09:12:18</CreateDate>
    <NodeName Default="Giftcard'" />
    <SortOrder>0</SortOrder>
    <FileHash>1582431881315845185998165128190791597472</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/u0bnb5dr/giftcard.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>