<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5dffb648-7679-4763-a0e1-d9c16af94044" Alias="account" Level="1">
  <Info>
    <Name>Account</Name>
    <Icon>icon-user-female color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="9a010569-d05d-4b18-963f-b55d253fbdf9">contentBase</Composition>
      <Composition Key="bde25cfc-87b8-4547-812d-d0f3ad222d61">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Account</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="295b6911-be98-4113-ad37-7b94238d7168">Account</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>