<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5a7d7480-5e6b-4d8d-a871-8df2b905ed4c" Alias="checkoutConfirmation" Level="2">
  <Info>
    <Name>Checkout Confirmation</Name>
    <Icon>icon-checkbox color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Checkout+Steps</Folder>
    <Compositions>
      <Composition Key="d22d434b-9567-49d2-8406-0d824663524b">checkoutStep</Composition>
      <Composition Key="9a010569-d05d-4b18-963f-b55d253fbdf9">contentBase</Composition>
      <Composition Key="bde25cfc-87b8-4547-812d-d0f3ad222d61">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>CheckoutConfirmation</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fb408eb5-dc52-4f71-be04-b12933c73826">CheckoutConfirmation</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>