<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c8d51997-50e5-401f-b83e-745df8285064" Alias="checkoutPayment" Level="2">
  <Info>
    <Name>Checkout Payment</Name>
    <Icon>icon-bills-pound color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Checkout+Steps</Folder>
    <Compositions>
      <Composition Key="d22d434b-9567-49d2-8406-0d824663524b">checkoutStep</Composition>
      <Composition Key="9a010569-d05d-4b18-963f-b55d253fbdf9">contentBase</Composition>
      <Composition Key="bde25cfc-87b8-4547-812d-d0f3ad222d61">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>CheckoutPayment</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="08e904e5-7f98-4bb2-b3d7-a2fab11db880">CheckoutPayment</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>