<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="21ba8051-65b1-4f4e-acdc-88270d3b4c65" Alias="checkoutPaymentMethod" Level="2">
  <Info>
    <Name>Checkout Payment Method</Name>
    <Icon>icon-credit-card-alt color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Checkout+Steps</Folder>
    <Compositions>
      <Composition Key="d22d434b-9567-49d2-8406-0d824663524b">checkoutStep</Composition>
      <Composition Key="9a010569-d05d-4b18-963f-b55d253fbdf9">contentBase</Composition>
      <Composition Key="bde25cfc-87b8-4547-812d-d0f3ad222d61">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>CheckoutPaymentMethod</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5e0ebefd-68c1-4bf7-b371-a6681f506c1b">CheckoutPaymentMethod</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>