<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="824c6a53-0e44-429e-a819-5fed9f3edb79" Alias="login" Level="1">
  <Info>
    <Name>Login</Name>
    <Icon>icon-log-out color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="9a010569-d05d-4b18-963f-b55d253fbdf9">contentBase</Composition>
      <Composition Key="bde25cfc-87b8-4547-812d-d0f3ad222d61">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Login</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07f1d6da-b754-46cb-aedd-8fa22384a691">Login</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>