<?xml version="1.0" encoding="utf-8"?>
<Content Key="103171c8-e11c-4002-9bb2-f3404cada22a" Alias="Banjo" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Products</Parent>
    <Path>/Home/Products/Banjo</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2020-10-16T16:21:53</CreateDate>
    <NodeName Default="Banjo" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="608902a2-d187-4075-a92d-721b062a83c9">Product</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[bingo,music]]></Value>
    </category>
    <description>
      <Value><![CDATA[Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus.]]></Value>
    </description>
    <features>
      <Value><![CDATA[]]></Value>
    </features>
    <isGiftCard>
      <Value><![CDATA[0]]></Value>
    </isGiftCard>
    <photos>
      <Value><![CDATA[umb://media/17552d12081d4d01b68132c495d6576f]]></Value>
    </photos>
    <price>
      <Value><![CDATA[{
  "1e2b9ee5-c38a-4370-a27a-0487546b0ff8": 15
}]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Banjo]]></Value>
    </productName>
    <productServices>
      <Value><![CDATA[0]]></Value>
    </productServices>
    <sku>
      <Value><![CDATA[BANJO]]></Value>
    </sku>
    <stock>
      <Value><![CDATA[-1]]></Value>
    </stock>
  </Properties>
</Content>