<?xml version="1.0" encoding="utf-8"?>
<Content Key="fefa990b-df4f-4131-abd2-73540b94b1ac" Alias="Gift Card Platinum" Level="4">
  <Info>
    <Parent Key="1832067e-e56e-4388-af1d-985dccca4bd4">Gift Card</Parent>
    <Path>/Home/Products/GiftCard/GiftCardPlatinum</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2020-11-01T09:14:22</CreateDate>
    <NodeName Default="Gift Card Platinum" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "1e2b9ee5-c38a-4370-a27a-0487546b0ff8": 100
}]]></Value>
    </price>
    <sku>
      <Value><![CDATA[GIFTCARD-PLATINUM]]></Value>
    </sku>
    <stock>
      <Value><![CDATA[-1]]></Value>
    </stock>
  </Properties>
</Content>