<?xml version="1.0" encoding="utf-8"?>
<Content Key="ebe5df87-7d30-438f-9e43-27cce41c86ca" Alias="Size Large" Level="4">
  <Info>
    <Parent Key="262beb70-53a6-49b8-9e98-cfde2e85a78e">Biker Jacket</Parent>
    <Path>/Home/Products/BikerJacket/SizeLarge</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2020-11-01T09:07:39</CreateDate>
    <NodeName Default="Size Large" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "1e2b9ee5-c38a-4370-a27a-0487546b0ff8": 90
}]]></Value>
    </price>
    <sku>
      <Value><![CDATA[BIKERJACKET-LARGE]]></Value>
    </sku>
    <stock>
      <Value><![CDATA[-1]]></Value>
    </stock>
  </Properties>
</Content>