<?xml version="1.0" encoding="utf-8"?>
<Content Key="7dd40702-3afd-424a-9834-199e3026e76f" Alias="Size Small" Level="4">
  <Info>
    <Parent Key="061662b9-b02a-4dcf-af59-92b603e8e3e1">Knitted West</Parent>
    <Path>/Home/Products/KnittedWest/SizeSmall</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2020-11-01T09:07:55</CreateDate>
    <NodeName Default="Size Small" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "1e2b9ee5-c38a-4370-a27a-0487546b0ff8": 50
}]]></Value>
    </price>
    <sku>
      <Value><![CDATA[KNITTEDVEST-SMALL]]></Value>
    </sku>
    <stock>
      <Value><![CDATA[-1]]></Value>
    </stock>
  </Properties>
</Content>