<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6f68618-b206-4b8e-8b27-fdf6b45024eb" Alias="Size Medium" Level="4">
  <Info>
    <Parent Key="262beb70-53a6-49b8-9e98-cfde2e85a78e">Biker Jacket</Parent>
    <Path>/Home/Products/BikerJacket/SizeMedium</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2020-11-01T09:05:32</CreateDate>
    <NodeName Default="Size Medium" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "1e2b9ee5-c38a-4370-a27a-0487546b0ff8": 75
}]]></Value>
    </price>
    <sku>
      <Value><![CDATA[BIKERJACKET-MEDIUM]]></Value>
    </sku>
    <stock>
      <Value><![CDATA[-1]]></Value>
    </stock>
  </Properties>
</Content>