<?xml version="1.0" encoding="utf-8"?>
<Content Key="97dd5b91-f52c-47be-8732-a73063d86d45" Alias="Size Medium" Level="4">
  <Info>
    <Parent Key="061662b9-b02a-4dcf-af59-92b603e8e3e1">Knitted West</Parent>
    <Path>/Home/Products/KnittedWest/SizeMedium</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2020-11-01T09:07:54</CreateDate>
    <NodeName Default="Size Medium" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "1e2b9ee5-c38a-4370-a27a-0487546b0ff8": 60
}]]></Value>
    </price>
    <sku>
      <Value><![CDATA[KNITTEDVEST-MEDIUM]]></Value>
    </sku>
    <stock>
      <Value><![CDATA[-1]]></Value>
    </stock>
  </Properties>
</Content>