<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ededec97-45c8-472e-91e6-67377136fe30" Alias="Vendr Stock" Level="1">
  <Info>
    <Name>Vendr Stock</Name>
    <EditorAlias>Vendr.Stock</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>