<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc604509-513c-4c85-80a2-6907372a4257" Alias="Balloons" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Products</Parent>
    <Path>/Home/Products/Balloons</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2020-11-03T06:32:27</CreateDate>
    <NodeName Default="Balloons" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="608902a2-d187-4075-a92d-721b062a83c9">Product</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[sports,bingo]]></Value>
    </category>
    <description>
      <Value><![CDATA[Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras ultricies ligula sed magna dictum porta.]]></Value>
    </description>
    <features>
      <Value><![CDATA[]]></Value>
    </features>
    <isGiftCard>
      <Value><![CDATA[0]]></Value>
    </isGiftCard>
    <photos>
      <Value><![CDATA[umb://media/afc2fee3ae5445f5b8dd1471cd39dc89]]></Value>
    </photos>
    <price>
      <Value><![CDATA[]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Balloons]]></Value>
    </productName>
    <productServices>
      <Value><![CDATA[0]]></Value>
    </productServices>
    <sku>
      <Value><![CDATA[BALLOONS]]></Value>
    </sku>
    <stock>
      <Value><![CDATA[-1]]></Value>
    </stock>
  </Properties>
</Content>