<?xml version="1.0" encoding="utf-8"?>
<Content Key="fafff723-4f75-4ad6-8ae5-7fbddee6c38b" Alias="Checkout" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Checkout</Path>
    <Trashed>false</Trashed>
    <ContentType>checkout</ContentType>
    <CreateDate>2020-11-04T15:52:24</CreateDate>
    <NodeName Default="Checkout" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f63a03b0-7d38-4281-8a2f-3ed40e870373">Checkout</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <checkoutLogo>
      <Value><![CDATA[umb://media/b76ddb4ee603401499066087984740ec]]></Value>
    </checkoutLogo>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Checkout]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[1]]></Value>
    </umbracoNavihide>
    <umbracoRedirect>
      <Value><![CDATA[umb://document/f43f78d4092341fc8f100721fe21a5e6]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>