<?xml version="1.0" encoding="utf-8"?>
<Content Key="1832067e-e56e-4388-af1d-985dccca4bd4" Alias="Gift Card" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Products</Parent>
    <Path>/Home/Products/GiftCard</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2020-11-01T09:12:26</CreateDate>
    <NodeName Default="Gift Card" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="608902a2-d187-4075-a92d-721b062a83c9">Product</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[giftcard]]></Value>
    </category>
    <description>
      <Value><![CDATA[Gift Card]]></Value>
    </description>
    <features>
      <Value><![CDATA[]]></Value>
    </features>
    <isGiftCard>
      <Value><![CDATA[1]]></Value>
    </isGiftCard>
    <photos>
      <Value><![CDATA[umb://media/fcd082a0e5714472a39717f3b6e431be]]></Value>
    </photos>
    <price>
      <Value><![CDATA[]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Gift Card]]></Value>
    </productName>
    <productServices>
      <Value><![CDATA[0]]></Value>
    </productServices>
    <sku>
      <Value><![CDATA[]]></Value>
    </sku>
    <stock>
      <Value><![CDATA[-1]]></Value>
    </stock>
  </Properties>
</Content>