<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f6c6082-5436-4c2e-8d2d-642aa1cb84ad" Alias="Gift Card Bronze" Level="4">
  <Info>
    <Parent Key="1832067e-e56e-4388-af1d-985dccca4bd4">Gift Card</Parent>
    <Path>/Home/Products/GiftCard/GiftCardBronze</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2020-11-01T09:13:11</CreateDate>
    <NodeName Default="Gift Card Bronze" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "1e2b9ee5-c38a-4370-a27a-0487546b0ff8": 15
}]]></Value>
    </price>
    <sku>
      <Value><![CDATA[GIFTCARD-BRONZE]]></Value>
    </sku>
    <stock>
      <Value><![CDATA[-1]]></Value>
    </stock>
  </Properties>
</Content>