<?xml version="1.0" encoding="utf-8"?>
<Content Key="199e5336-f5ef-40bf-955e-3ceaa086f5aa" Alias="Login" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>login</ContentType>
    <CreateDate>2020-11-04T15:50:35</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07f1d6da-b754-46cb-aedd-8fa22384a691">Login</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Login]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[1]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>