<?xml version="1.0" encoding="utf-8"?>
<Content Key="844f317f-1010-4266-b348-825f8108afff" Alias="Payment" Level="3">
  <Info>
    <Parent Key="fafff723-4f75-4ad6-8ae5-7fbddee6c38b">Checkout</Parent>
    <Path>/Home/Checkout/Payment</Path>
    <Trashed>false</Trashed>
    <ContentType>checkoutPayment</ContentType>
    <CreateDate>2020-11-04T15:55:26</CreateDate>
    <NodeName Default="Payment" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="08e904e5-7f98-4bb2-b3d7-a2fab11db880">CheckoutPayment</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <canGoBack>
      <Value><![CDATA[0]]></Value>
    </canGoBack>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Payment]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <stepName>
      <Value><![CDATA[Payment]]></Value>
    </stepName>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>