<?xml version="1.0" encoding="utf-8"?>
<Content Key="228fc85f-9f76-4a30-8e38-53ad7faa2829" Alias="Red" Level="4">
  <Info>
    <Parent Key="cc604509-513c-4c85-80a2-6907372a4257">Balloons</Parent>
    <Path>/Home/Products/Balloons/Red</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2020-11-03T06:34:46</CreateDate>
    <NodeName Default="Red" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "2d95ff9a-e322-4914-8ec5-c2748af420e1": 2
}]]></Value>
    </price>
    <sku>
      <Value><![CDATA[BALLOON-RED]]></Value>
    </sku>
    <stock>
      <Value><![CDATA[-1]]></Value>
    </stock>
  </Properties>
</Content>