<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f244a2b-73ff-44d5-b26e-796e187ac327" Alias="Review" Level="3">
  <Info>
    <Parent Key="fafff723-4f75-4ad6-8ae5-7fbddee6c38b">Checkout</Parent>
    <Path>/Home/Checkout/Review</Path>
    <Trashed>false</Trashed>
    <ContentType>checkoutReview</ContentType>
    <CreateDate>2020-11-04T15:55:12</CreateDate>
    <NodeName Default="Review" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="348c2897-16c6-4068-8558-3d53b1cbd1ef">CheckoutReview</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <canGoBack>
      <Value><![CDATA[1]]></Value>
    </canGoBack>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Review]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <stepName>
      <Value><![CDATA[Review]]></Value>
    </stepName>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>