<?xml version="1.0" encoding="utf-8"?>
<Content Key="a14e5580-e081-4ed7-9104-305e2999c3a5" Alias="Shipping Information" Level="3">
  <Info>
    <Parent Key="fafff723-4f75-4ad6-8ae5-7fbddee6c38b">Checkout</Parent>
    <Path>/Home/Checkout/ShippingInformation</Path>
    <Trashed>false</Trashed>
    <ContentType>checkoutShippingInformation</ContentType>
    <CreateDate>2020-11-04T15:53:13</CreateDate>
    <NodeName Default="Shipping Information" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="98729895-db1f-49d0-b086-75fb68736010">CheckoutShippingInformation</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <canGoBack>
      <Value><![CDATA[1]]></Value>
    </canGoBack>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Shipping Information]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <stepName>
      <Value><![CDATA[Shipping Information]]></Value>
    </stepName>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>