<?xml version="1.0" encoding="utf-8"?>
<Content Key="2d316f68-a2f2-4723-8a52-d7aa49d47278" Alias="Size Small" Level="4">
  <Info>
    <Parent Key="262beb70-53a6-49b8-9e98-cfde2e85a78e">Biker Jacket</Parent>
    <Path>/Home/Products/BikerJacket/SizeSmall</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2020-11-01T09:06:31</CreateDate>
    <NodeName Default="Size Small" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "1e2b9ee5-c38a-4370-a27a-0487546b0ff8": 50
}]]></Value>
    </price>
    <sku>
      <Value><![CDATA[BIKERJACKET-SMALL]]></Value>
    </sku>
    <stock>
      <Value><![CDATA[-1]]></Value>
    </stock>
  </Properties>
</Content>