<?xml version="1.0" encoding="utf-8"?>
<Content Key="df1eb830-411b-4d41-a343-3917b76d533c" Alias="Tattoo" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Products</Parent>
    <Path>/Home/Products/Tattoo</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2020-10-16T16:21:52</CreateDate>
    <NodeName Default="Tattoo" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="608902a2-d187-4075-a92d-721b062a83c9">Product</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[tattoo,dedication]]></Value>
    </category>
    <description>
      <Value><![CDATA[Cras ultricies ligula sed magna dictum porta.]]></Value>
    </description>
    <features>
      <Value><![CDATA[]]></Value>
    </features>
    <isGiftCard>
      <Value><![CDATA[0]]></Value>
    </isGiftCard>
    <photos>
      <Value><![CDATA[umb://media/20e3a8ffad1b4fe9b48cb8461c46d2d0]]></Value>
    </photos>
    <price>
      <Value><![CDATA[{
  "1e2b9ee5-c38a-4370-a27a-0487546b0ff8": 10
}]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Tattoo]]></Value>
    </productName>
    <productServices>
      <Value><![CDATA[0]]></Value>
    </productServices>
    <sku>
      <Value><![CDATA[TATTOO]]></Value>
    </sku>
    <stock>
      <Value><![CDATA[-1]]></Value>
    </stock>
  </Properties>
</Content>