<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d7aae75-6b51-4bc9-b0b4-89a659f26219" Alias="Your shopping cart" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/YourShoppingCart</Path>
    <Trashed>false</Trashed>
    <ContentType>cart</ContentType>
    <CreateDate>2020-11-04T06:26:59</CreateDate>
    <NodeName Default="Your shopping cart" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2cbdf187-cf5b-4a4e-b047-b8175d77910f">Cart</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Your shopping cart]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[1]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>