<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d8d41f0d-616e-4e04-8007-290180d6482d" Alias="cart" Level="1">
  <Info>
    <Name>Cart</Name>
    <Icon>icon-shopping-basket-alt-2 color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="9a010569-d05d-4b18-963f-b55d253fbdf9">contentBase</Composition>
      <Composition Key="bde25cfc-87b8-4547-812d-d0f3ad222d61">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Cart</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2cbdf187-cf5b-4a4e-b047-b8175d77910f">Cart</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>