<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fb8d1eb1-36e2-4a1b-aa61-082f71b1d0b2" Alias="checkout" Level="2">
  <Info>
    <Name>Checkout</Name>
    <Icon>icon-shopping-basket color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Checkout+Steps</Folder>
    <Compositions>
      <Composition Key="9a010569-d05d-4b18-963f-b55d253fbdf9">contentBase</Composition>
      <Composition Key="bde25cfc-87b8-4547-812d-d0f3ad222d61">navigationBase</Composition>
      <Composition Key="159bbfc4-e734-4a36-90ff-aaf4296a2946">redirect</Composition>
    </Compositions>
    <DefaultTemplate>Checkout</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f63a03b0-7d38-4281-8a2f-3ed40e870373">Checkout</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e4583cd3-afbd-48a8-8ad9-cbcf56a7aedf" SortOrder="0">checkoutPersonalInformation</ContentType>
    <ContentType Key="7777a88e-70b8-4c18-b213-0b9405dbdaac" SortOrder="1">checkoutShippingInformation</ContentType>
    <ContentType Key="21ba8051-65b1-4f4e-acdc-88270d3b4c65" SortOrder="2">checkoutPaymentMethod</ContentType>
    <ContentType Key="92d6f3b1-40a3-47fc-a4b7-9ef293a78a40" SortOrder="3">checkoutReview</ContentType>
    <ContentType Key="c8d51997-50e5-401f-b83e-745df8285064" SortOrder="4">checkoutPayment</ContentType>
    <ContentType Key="5a7d7480-5e6b-4d8d-a871-8df2b905ed4c" SortOrder="5">checkoutConfirmation</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>713750a3-3c8f-4b01-93a5-4377871305e7</Key>
      <Name>Checkout Logo</Name>
      <Alias>checkoutLogo</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>-10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>