<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="92d6f3b1-40a3-47fc-a4b7-9ef293a78a40" Alias="checkoutReview" Level="2">
  <Info>
    <Name>Checkout Review</Name>
    <Icon>icon-binoculars color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Checkout+Steps</Folder>
    <Compositions>
      <Composition Key="d22d434b-9567-49d2-8406-0d824663524b">checkoutStep</Composition>
      <Composition Key="9a010569-d05d-4b18-963f-b55d253fbdf9">contentBase</Composition>
      <Composition Key="bde25cfc-87b8-4547-812d-d0f3ad222d61">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>CheckoutReview</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="348c2897-16c6-4068-8558-3d53b1cbd1ef">CheckoutReview</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>