<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="add12763-42a8-4e2a-9698-4cff9dc0aa0c" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="9a010569-d05d-4b18-963f-b55d253fbdf9">contentBase</Composition>
      <Composition Key="bde25cfc-87b8-4547-812d-d0f3ad222d61">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7f53e372-3224-4a4f-a36f-327edd4eb191">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="add12763-42a8-4e2a-9698-4cff9dc0aa0c" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>