<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b84c8b96-4690-4407-becb-c69340bb44dc" Alias="productVariant" Level="1">
  <Info>
    <Name>Product Variant</Name>
    <Icon>icon-t-shirt color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="e17e6d54-2679-44a7-9027-5ee07e7cff79">productConfig</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>