<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1b992f94-bc4d-48aa-bfdb-ad3c220837ed" Alias="Vendr Store" Level="1">
  <Info>
    <Name>Vendr Store</Name>
    <EditorAlias>Vendr.StorePicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>